<ion-view view-title="Home">
    <ion-content>

        <div> 
          <img src="images/login_screen.jpg" style="height:10%;width:100%;">
        </div>
        <br>

        <div style="text-align:center;">
            <select style="width:100px;">                 
               <option value="1">DesiEat</option>
                <option value="2">Videshi</option>
                 <option value="3">OnlyEat</option>
        </select>
        </div>

        <br>
        <br>
        <div style="text-align:center;">
            <button class="button button-assertive" ng-click="order()">Order </button>
        </div>





    </ion-content>
</ion-view>