<ion-view view-title="News">
  <ion-content onload="Materialize.showStaggeredList('#staggered-test')">



    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input  style="border-bottom:none !important;" type="search" placeholder="Search"  ng-model="filters.menuItem" id="searchBar"  >    
    </label>

    <div class="list item-text-wrap" id="staggered-test">
      <a class="item  item-icon-right" ng-repeat="menuItem in newsList.NewsItem | filter: filters.menuItem"
        ui-sref="app.restaurant-menu2({selectedItem:menuItem})" onclick="Materialize.showStaggeredList('#staggered-test')">
        {{menuItem.HeadLine}}
        <i class="icon ion-chevron-right font-18 red-color"></i></a>
    </div>

  </ion-content>
</ion-view>